html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc {
    width: 20.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .15rem;
    background-color: #1F1F1F;
    padding: .3rem;
    box-sizing: border-box;
}

#calc input {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    height: 6rem;
    background-color: #1F1F1F;
    border: none;
    color: #fff;
    font-size: 2.7rem;
    font-weight: bolder;
}

button {
    color: #fff;
    border: none;
    width: 4.8rem;
    height: 3.2rem;
    font-size: 1.2rem;
}

.number {
    background-color: black;
}

.number:hover {
    background-color: #343434;
}

.operation {
    background-color: #131313;
}

.operation:hover {
    background-color: #343434;
}

#calc button, input {
    padding: .5rem;
}

#add, #sub, #nul, #div, #eql {
    grid-column-start: 4;
}

#per, #qtr, #C, #deg {
    grid-row-start: 2;
}

#sqr, #qtr, #sqrt {
    grid-row-start: 3;
}

#add {
    grid-row-start: 6;
}

#sub {
    grid-row-start: 5;
}

#nul {
    grid-row-start: 4;
}

#div {
    grid-row-start: 3;
}

#eql {
    grid-row-start: 7;
    background-color: #134369;
}

#backspace {
    grid-row-start: 2;
}

#eql:hover {
    background-color: #036FC4;
}

#sqr {
    grid-column-start: 2;
    grid-row-start: 3;
}

#backspace {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dot {
    grid-column-start: 3;
    grid-row-start: 7;
}

#plus_minus {
    grid-column-start: 1;
    grid-row-start: 7;
}

#sqrt {
    grid-column-start: 3;
}